.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Arial", Tahoma, Geneva, Verdana, sans-serif;
}
.tabs-container {
  display: flex;
  gap: 10px;
  border-bottom: 3px solid #e0e0e0;
  margin-bottom: 30px;
  background-color: #f8f9fa;
  border-radius: 8px 8px 0 0;
}
.tabs-container .tab {
  padding: 12px 20px;
  color: #666;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.tab:hover{
    background-color: purple;
    color: #fff;
    border-radius: 25px;
}