.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Arial", Tahoma, Geneva, Verdana, sans-serif;
}

.tabs-container {
  display: flex;
  gap: 10px;
  border-bottom: 3px solid #e0e0e079;
  margin-bottom: 30px;
  border-radius: 8px 8px 0 0;
}

.tabs-container .tab {
  padding: 12px 20px;
  color: #3b0842a2;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs-container .tab:hover,
.tabs-container .tab.active {
  background-color: purple;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #e0e0e0be;
}

.tabs-content {
  background-color: #ffffff63;
  border: 1px solid #e0e0e0be;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(249, 249, 249, 0.5);
}

.tabs-content .content h2 {
  color: #e1b7df;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

.tabs-content .content hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #ab55b0, transparent);
  margin: 15px 0 20px 0;
}

.tabs-content .content p {
  color: #4c1552;
  line-height: 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: justify;
}
